.navbar {
    padding: 10px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 35px; 
    margin-left: 25px;
}

.profile {
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 25px;
}