.app-download {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 7rem;
    margin-top: 5rem;
  }
  
  .app-download p {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  .app-download-platforms {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .app-download-platforms img {
    width: 200px;
    cursor: pointer;
  }
