.food-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Kanit', sans-serif;
    padding-top: 1rem;
}

.food-display hr {
    margin: 50px 0px;
    height: 2px;
    border: none;
    background-color: #FFF;
}

.food-display h2 {
    color: #FFF;
    font-weight: bold;
    font-size: 2rem;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    gap: 20px;
    row-gap: 30px;
}